# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS metadata
.DS_Store

# Database files (optional)


# VSCode settings (optional if you use it)
.vscode/

# Logs (optional if you generate them)
*.log
